/* div container e conteudo */
.container {
    border-radius: 20px;
    font-family: "Rubik", sans-serif;
}

/* logo shopmee */
.brand-img {
    width: 50%;
}
.brand-img:hover {
    width: 51%;
}

/* cards */
.cards {
    width: 45%;
    display: inline-block;
}
.title {
    background: rgb(54, 102, 171);
    background: linear-gradient(
        90deg,
        rgb(41, 78, 129) 0%,
        rgb(79, 168, 216) 100%
    );
    font-family: "Comfortaa", cursive;
    font-size: 1.2em;
    color: white;
    padding: 5% 0 0.4% 0;
    border-radius: 30px;
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.8s ease;
}
.title:hover {
    background-position: left bottom;
}

.card-content {
    width: 90%;
    margin: 0 auto auto auto;
}

.cadastred {
    width: 50%;
    display: inline-block;
}
.create {
    width: 40%;
    background-color: #25ae88;
    color: white;
}
.create:hover {
    background-color: #1c8366;
    color: white;
}
.download-div,
.brand-div {
    display: inline-block;
}

.brand-div {
    width: 52%;
}
.download-div {
    width: 40%;
}

.download {
    width: 10%;
    margin-right: 3%;
}

.nome,
.email {
    display: inline-block;
}

.edit,
.destroy {
    width: 39%;
    display: inline-block;
}

.edit {
    background-color: rgba(54, 102, 171, 1);
    color: white;
}
.edit:hover {
    background-color: rgb(39, 75, 124);
    color: white;
}
