.container {
    border-radius: 20px;
    font-family: "Rubik", sans-serif;
}

.success,
.failure {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.p {
    font-size: 1.2em;
}

/* .btn-inicial {
    margin-right: 1%;
} */

.initial-page {
    background-color: #25ae88;
    color: white;
    width: 25%;
    /* margin-left: 60%; */
}
@media only screen and (max-width: 800px) {
    .initial-page {
        width: 50%;
        /* margin-left: 60%; */
    }
}
