/* div container e conteudo */
.container {
    border-radius: 30px;
}
.content {
    margin: 5% 20% auto 20%;
    font-family: "Rubik", sans-serif;
    font-size: 0.95em;
}

/* logo shopmee */
.brand-img {
    width: 40%;
}
.brand-img:hover {
    width: 41%;
}

/* atributos do formulário - input (geral) / input (nome e email) / botão*/
.ipn-type {
    border-radius: 30px;
    height: 3em;
    width: 100%;
    border: none;
}

.ipn {
    color: #646464;
    background-color: #f4f4f4;
}

.sbm-btn {
    background-color: #8de07f;
    color: white;
    margin-bottom: 15%;
}

.sbm-btn:hover {
    background-color: #71c063;
    color: white;
}
